---
const { item } = Astro.props;
---

{
   item && (
      <main>
         <h1>{item.filename_with_extension}</h1>
         {item.extension == ".mp4" && (
            <video autoplay muted loop src={item.src} />
         )}
         {item.extension == ".jpg" && <img src={item.src} />}
         <table>
            {Object.entries(item.metadata).map(([key, data]) => (
               <tr>
                  <td>{key}:&nbsp;</td>
                  <td>{data}</td>
               </tr>
            ))}
         </table>
      </main>
   )
}

<style>
   :root {
      --gap: 10px;
   }
   body {
      margin: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      /* background-color: white; */
   }
   main {
      box-sizing: border-box;
      width: 100vmin;
      padding: var(--gap);
      /* background-color: white; */
   }
   h1 {
      word-break: break-all;
      font-family: "Times New Roman", Times, serif;
      font-size: 5rem;
      text-transform: capitalize;
      /* color: rgba(0, 255, 125); */
      color: rgba(125, 0, 255);
      font-weight: 100;
      margin-top: 3rem;
      margin-bottom: 1rem;
   }
   video,
   img {
      display: block;
      width: 100%;
      margin-bottom: var(--gap);
   }
   table {
      font-size: 2rem;
      font-family: monospace;
   }
</style>
